* {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

/* For Chrome, Safari, and other WebKit browsers */
*::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.BoxShadowAtLight {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.BoxAtDark {
  border: var(--LightBorder);
}
.BoxAtLight {
  border: var(--DarkBorder);
}

.BorderBottomAtDark {
  border-bottom: var(--LightBorder);
}
.BorderBottomAtLight {
  border-bottom: var(--DarkBorder);
}

.HoverOnListsForLight:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.HoverOnListsForDark:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
